body {
  text-align: center;
  background-color: white;
}
#blur {
    background-image: url("https://universe-beauty.com/albums/userpics/2011y/05/10/1/7/universe-art-7-photo141.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-3;
    transform: scale(1.1);
}
.container-fluid {
  max-width: 50%;
  max-height: 1950px;
  min-height: 460px;
  min-width: 50%;
  margin: 300px auto;
  /*background-color: #6495ED;*/
  opacity: .85;
  box-shadow: 0px 0px 5px black;
  display: inline-block;
  border: 3px solid white;
  border-radius: 5px;
}
#heading {
  color: white !important;
  border-bottom: 3px solid white;
  margin: -15px;
  padding: 5px;
  font-family: Lobster;
  text-shadow: 1px 1px 3px white;
  letter-spacing: 4px;
  background-color: none;
  color: black;
}
#quote-box {
  font-family: "Kaushan Script";
  font-weight: normal;
  max-height: 1900px;
  display: inline-block;
  margin: 45px auto;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 9px black;
}
.btn-primary {
  margin: -105px;
}
.btn-success {
  margin: 20px
}
button {
  font-size: 18px !important;
  margin: 3px !important;
  width: 160px;
}
h3 {
  position: relative;
  top: 30px;
  font-family: "Kaushan Script";
  font-weight: bold;
  color: black;
}
a:hover {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .container-fluid {
    max-width: 90%;
  }
}